<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Welcome to PC Builder App</h1>
        <hr class="my-3 bg-white w-50"/>

        <p class="h4">
            PC Builder App by Emil Romanov simplifies the process of building your perfect PC.
            Explore a vast array of peripherals and components within our user-friendly interface.
            Browse through high-quality graphics cards, processors, motherboards, and more.
            <br>
            Building your dream PC has never been this easy.
            Start exploring and crafting your ideal setup today!</p>
        <hr class="my-3 bg-white w-75"/>

        <h3>
            <a class="text-primary" th:href="@{/login}">Login</a>
            if you have an account or
            <a class="text-primary" th:href="@{/register}">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>